<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Postify</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="app">
<header>
    <div class="logo">Postify</div>
    <nav :class="{ 'nav-open': isNavOpen }">
        <a @click.prevent="page = 'mainPage'; closeNav()">Главная</a>
        <a v-if="!api_token" @click.prevent="page = 'loginPage'; closeNav()">Авторизация</a>
        <a v-if="!api_token" @click.prevent="page = 'regPage'; closeNav()">Регистрация</a>
        <a v-if="api_token" @click.prevent="page = 'storePage'; closeNav()">Создать пост</a>
        <a v-if="api_token" @click.prevent="page = 'profilePage'; closeNav()">Профиль</a>
        <a v-if="api_token" @click.prevent="logout(); closeNav()">Выйти</a>
    </nav>
    <div class="burger-menu" @click="toggleNav">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<div class="container">

    <!-- Главная | index.html -->
    <section v-if="page === 'mainPage'" id="home">
        <h2>Все посты</h2>
        <div class="posts-grid">
            <div v-for="post in posts" class="post-card">
                <img :src="post.photo_url" alt="photo">
                <div class="content">
                    <h3>{{ post.title }}</h3>
                    <p class="author">Автор: {{ post.user.name }}</p>
                    <a class="btn" @click.prevent='loadPost(post.id)'>Открыть</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /Главная -->

    <!-- Создать пост | create.html -->
    <section v-if="page === 'storePage'" id="create">
        <form>
            <h2>Создание поста</h2>
            <input v-model="storeForm.title" type="text" placeholder="Заголовок поста" required>
            <textarea v-model="storeForm.description" rows="6" placeholder="Основной текст..." required></textarea>
            <input ref="photo" type="file" required>
            <button type="submit" @click.prevent="store">Создать</button>
        </form>
    </section>
    <!-- /Создать пост -->

    <!-- Профиль | profile.html -->
    <section v-if="page === 'profilePage'" id="profile">
        <h2>Настройки профиля</h2>
        <div class="profile_settings">
            <form class="photo_profile_form">
                <h3>Фото профиля</h3>
                <img class="photo_profile" :src="userPosts.photo_profile || 'img/default.jpg'" alt="profile photo">

                <input ref="photo_profile" type="file" required>
                <button type="submit" @click.prevent="addPhotoProfile">Обновить</button>
            </form>

            <form class="desc_profile_form">
                <h3>Описание профиля</h3>
                <p>{{ userPosts.desc_profile || 'Нет описание профиля' }}</p>

                <textarea v-model="profileForm.desc_profile" rows="6" placeholder="Введите описание для профиля..." required></textarea>
                <button type="submit" @click.prevent="addDescProfile">Обновить</button>
            </form>
        </div>

        <h2>Мои посты</h2>
        <div class="posts-grid">
            <div class="post-card" v-for="post in userPosts.userPosts">
                <img :src="post.photo_url" alt="photo">
                <div class="content">
                    <h3>{{ post.title }}</h3>
                    <div class="post-actions">
                        <a class="btn" @click.prevent="loadPost(post.id)">Открыть</a>

                        <div class="action-icons">
                            <img class="btn edit" @click.prevent="getIdForUpdate(post.id)" src="img/edit(white).svg" alt="del" style="width: 17px; height: 17px;">
                            <img class="btn del" @click.prevent="destroy(post.id)" src="img/delete(white).svg" alt="del" style="width: 17px; height: 17px; margin-left: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Профиль -->

    <!-- Авторизация | login.html -->
    <section v-if="page === 'loginPage'" id="login">
        <form>
            <h2>Авторизация</h2>
            <input v-model="loginForm.email" type="email" placeholder="Email" required>
            <input v-model="loginForm.password" type="password" placeholder="Пароль" required>
            <button @click.prevent="login" type="submit">Войти</button>
        </form>
    </section>
    <!-- /Авторизация -->

    <!-- Регистрация | register.html -->
    <section v-if="page === 'regPage'" id="register">
        <form>
            <h2>Регистрация</h2>
            <input v-model="registerForm.email" type="email" placeholder="Email" required>
            <input v-model="registerForm.name" type="text" placeholder="Имя" required>
            <input v-model="registerForm.password" type="password" placeholder="Пароль" required>
            <button @click.prevent="register" type="submit">Зарегистрироваться</button>
        </form>
    </section>
    <!-- /Регистрация -->

    <!-- Пост | post.html -->
    <section v-if="page === 'postPage'" id="post">
        <div class="post-card">
            <img :src="post.photo_url" alt="photo" style="height: 100%">
            <div class="content">
                <h2>{{ post.title }}</h2>
                <p class="author">Автор: {{ post.user.name }}</p>
                <p class="author">Дата загрузки: {{ post.date }}</p>
                <p>{{ post.description }}</p>
            </div>
        </div>

        <form v-if="api_token">
            <h3>Добавить комментарий</h3>

            <input v-model="commentForm.comment" type="text" placeholder="Введите текст..." required>
            <button type="submit" @click.prevent="addComment(post.id)">Создать</button>
        </form>

        <div class="post-card" v-for="comment in comments" style="margin-bottom: 10px; padding: 20px;">
            <div style="display: flex; justify-content: flex-start; flex-wrap: wrap; flex-direction: column;">
                <div style="display: flex;">
                    <img :src="comment.user.photo_profile || 'img/default.jpg'" alt="photo" style="width: 100px; margin-right: 20px;">
                    <h3>{{ comment.comment }}</h3>
                </div>
                <div>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="display: flex">
                            <p @click.prevent="showAnyProfile(comment.user.name)">Автор: {{ comment.user.name }}</p>
                        </div>
                        <p>Создан: {{ new Date(comment.created_at).toLocaleString() }}</p>
                    </div>
                </div>
            </div>
            <div v-if="comment.user.id === userPosts.id" style="display: flex; align-items: center;">
                <img @click.prevent="destroyComment(comment.id)" src="img/delete(black).svg" alt="delete" style="background-color: white; width: 30px; margin-left: 20px;">
            </div>
        </div>
    </section>
    <!-- /Пост -->

    <!-- Профиль другого пользователя | anyProfile.html -->
    <section v-if="page === 'anyProfilePage'" id="anyProfile">
        <h2>Профиль пользователя: {{ anyProfile.name }}</h2>
        <div class="profile_settings">
            <form class="photo_profile_form">
                <h3>Фото профиля</h3>
                <img class="photo_profile" :src="anyProfile.photo_profile || 'img/default.jpg'" alt="profile photo">
                <p>Дата регистрации: {{ new Date(anyProfile.created_at).toLocaleString() }}</p>
            </form>

            <form class="desc_profile_form">
                <h3>Описание профиля</h3>
                <p>{{ anyProfile.desc_profile || 'Нет описание профиля' }}</p>
            </form>
        </div>
    </section>
    <!-- /Профиль другого пользователя -->

    <!-- Редактирование поста | update.html -->
    <section v-if="page === 'updatePage'" id="update">
        <form>
            <h2>Редактировать пост</h2>
            <img :src="post.photo_url" alt="photo" style="width: 100% !important;">

            <input v-model="updateForm.title" type="text" placeholder="Заголовок поста" required>
            <textarea v-model="updateForm.description" rows="6" placeholder="Основной текст..." required></textarea>
            <input ref="update_photo" type="file" required>
            <button type="submit" @click.prevent="updatePost(updateForm.id)">Редактировать</button>
        </form>
    </section>
    <!-- /Редактирование поста -->
</div>

<script src="main.js"></script>
</body>
</html>
